name: "CI Build"

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**.md'
      - '.gitignore'
  pull_request:
    paths-ignore:
      - '**.md'
      - '.gitignore'
  pull_request_target:
    branches: [ "main" ]


jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          # cache: 'npm'

      - name: Install dependencies
        run: printenv && npm clean-install

      - name: Setup DB
        run: DB_FILE_NAME="file:local.db" npm run db

      - name: Build
        run: DB_FILE_NAME="file:local.db" npm run build

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

  check-branches:
    name: "Check Pull Request Conditions"
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check PR branches
        run: |
          if [ "${{ github.head_ref }}" == "main" ] && [ "${{ github.base_ref }}" == "main" ]; then
            echo "Pull Requests to main branch are only allowed from developer branches that are not named <main>."
            exit 1
          fi